<%- include("../partials/header") %>

<div class="container" style="padding-top: 20px;">
	
	<!-- <header class="jumbotron">
		<div class="container">
			<h1>Campgrounds page</h1>
			<p>The best place to find campgrounds in the world</p>
			<div>
				<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>			
			</div>
		</div>
	</header> -->
		
	<div style="border-bottom: 1px solid black;">
		<h4>Recommended campgrounds</h3>
	</div>
	 <!-- text-center 
style="display:flex, flex-wrap: wrap;"
-->
	<div class="row" >
		<% campgrounds.forEach(function(campground) { 		%>
			<a href="/campgrounds/<%= campground._id %>">
				<div class="col-md-3 col-sm-6">
					<!--  -->
					<div class="thumbnail" >
						<img src="<%= campground.image %>" style="height: 15rem;">
						<p class="caption"><%= campground.name %></p>
					</div>
				</div> 
			</a>
		<% }); %> 			
	</div>
</div>




<%- include("../partials/footer") %>

 
